body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    text-align: center;
}

header {
    background: linear-gradient(90deg, #020617, #1e293b);
    padding: 40px;
}

header h1 {
    font-size: 36px;
    color: #38bdf8;
}

nav a {
    margin: 0 15px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
}

.card {
    background: #020617;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

